<main>
  <section class="new-password-title">
    <h3>Create New Password</h3>
    <p>The new password must be unique compared to the old ones</p>
  </section>
  @if(isSuccess){
    <app-toast
        *ngIf="showToast"
        [message]="'Password set successfully'"
        [toastType]="'success'"
      ></app-toast>
  } @else {
    <form [formGroup]="passwordForm">
      <ng-container *ngFor="let input of passwordConfig;">
        <app-dynamic-input-field
          [config]="input"
          [parentForm]="passwordForm"
          (errorMessageChange)="onErrorMessageChange($event)"
        />
      </ng-container>
      <app-toast *ngIf="showToast" [message]="toastMessage" [toastType]="toastType"/>
      <app-loader
        [isLoading]="isLoading"
        [buttonClass]="'button'"
        (buttonClick)="create()"
      >
        Continue
      </app-loader>
    </form>
  }
</main>
