@use "../stylesheet/typography" as *;

*,
*::after,
*::before {
  margin: unset;
  padding: unset;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $btn-font;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
