@use '../../../../stylesheet/mixins' as *;
@use '../../../../stylesheet/typography' as *;
@use '../../../../stylesheet/variables' as *;


main{
  width: 100%;
  height: 100%;
  @include flexbox($direction:row,$justify:center,$align:center !important);
  a{
    text-decoration: none;
    position: absolute;
    top: 4%;
    left: 3%;
    cursor: pointer;
    display: flex;
    font-size: 1.75rem;
    font-family: $btn-font;
    color: #000;
  }

  section{
    width: 40.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h3{
      text-align: center;
      font-size: 4rem;
      font-weight: 400;
    }

    p{
      text-align: center !important;
      font-size: 2.3rem;
      color: $grey-50;
    }

    form{
      margin-top: 2rem;
      width: 100%;
    }
  }
}
