<main>
  <app-activate-password />
  <a routerLink="/auth/login/">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
    </svg>
    Back
  </a>

  <section>
    <div>
      <h3>Forgot Password?</h3>
      <p>
        Don't worry, happens to all of us.
        Enter your email below for a verification
        code to recover your password.
      </p>
    </div>
    <form [formGroup]="forgotPasswordForm" >
      <app-dynamic-input-field
        [config]="forgotConfig"
        [parentForm]="forgotPasswordForm"
        (errorMessageChange)="onErrorMessageChange($event)"
      />
      <app-toast *ngIf="showToast" [message]="toastMessage" [toastType]="toastType"></app-toast>
      <app-loader title="submit email"
      [isLoading]="isLoading"
      [buttonClass]="'button'"
      (buttonClick)="onSubmit()"
      >
        Submit
      </app-loader>
    </form>
  </section>


</main>
