<div class="container">
    <span class="title">Track your application</span>
    <div class="completed">
        <div class="div1">
            <span class="icon">
                <mat-icon>check_circle</mat-icon>
            </span>
            <span class="h-line"></span>
        </div>
        <div class="div2">
            <span class="step-name"></span>
            <span class="date">Oct 24, 2024</span>
        </div>
    </div>
    <div class="next-in-line"></div>
    <div class="process-item"></div>
</div>