<main>
  <img src="../../../assets/images/sent.svg" alt="" />
  <section class="activate-info">
    <div>
      <h3>Check your mail</h3>
      <p>We have sent the verification code to your Indox.</p>
    </div>
    <div class="btn-grp">
      <button
        class="open-mail"
        title="open mail app"
        onclick="window.location.href='https://mail.google.com'"
        (click)="openMailApp()"
      >
        Open Mail App
      </button>
      <button
        class="to-otp"
        routerLink="/auth/verification/"
        title="continue to otp"
        (click)="continueToOtp()"
      >
        Continue to OTP
      </button>
    </div>
    <p class="footer">
      Didn’t receive mail? Check Spam filter or
      <span routerLink="/auth/login/">Try another Email Address</span>
    </p>
  </section>
</main>
