@use '../../../../stylesheet/variables' as *;
@use '../../../../stylesheet/typography' as *;

div{

  label{
    font-size: 1.6rem;
    font-family: $btn-font;
  }

  input{
    margin-top: 1rem;
    height: calc(55/10)rem;
    border-radius: .25rem;
    border: 1px solid #BFBFBF;
    padding:  1.6rem;
    font-size: 1.6rem;
    width: 100%;

    &::placeholder{
      color: #BFBFBF;
    }
    &:focus{
      border: 1px solid darken(#BFBFBF,15%);
      outline: none;
    }

    &.password-error {
      border: 1px solid #D32F2F;
    }
  }

}

