<section>
  <form [formGroup]="createProgram" (ngSubmit)="submit()">
    <div class="input-grp">
      <label for="name">Program Name</label>
      <input type="text" name="name"
      placeholder="Enter program name" formControlName="name"/>
    </div>

    <div class="textarea">
      <label for="">Program Description</label>
      <textarea placeholder="Description for program"
                formControlName="description" rows="4" cols="50"></textarea>
    </div>

    <div class="textarea">
      <label for="">Program Requirements</label>
      <textarea placeholder="List program requirements"
                formControlName="requirement" rows="4" cols="50"></textarea>
    </div>

    <div class="input-grp">
      <label for="earned-badges">Required Earned Badges</label>
      <input type="text" name="earned-badges"
      placeholder="Enter required badges (comma-separated)" formControlName="requiredEarnedBadges"
      />
    </div>

    <div class="input-grp">
      <label for="additional-badges">Additional Earned Badges (Optional)</label>
      <input type="text" name="additional-badges"
      placeholder="Enter optional badges (comma-separated)"
      formControlName="additionalEarnedBadges"
      />
    </div>
    <div class="input-grp">
      <label for="upload-image">Upload Program Picture</label>
      <input type="file" name="upload-image"
        (change)="onFileSelected($event)"
        placeholder="Upload program image"
      />
    </div>

    <div class="date-grp">
      <div class="input-grp">
        <label for="start-date">Date of Commencement</label>
        <input type="date" name="start-date"
        placeholder="October - 14 - 1985"
        formControlName="dateOfCommencement"
        />
      </div>

      <div class="input-grp">
        <label for="end-date">Date Completed</label>
        <input type="date" name="end-date"
        placeholder="October - 14 - 1985"
        formControlName="dateOfCompletion"
        />
      </div>
    </div>

    <div class="btn-grp">
      <button type="submit"  id="btn-publish" [disabled]="!createProgram.valid" >
        Publish programme
      </button>


      <button type="button">
        Save as draft
      </button>
    </div>
  </form>
</section>
