<div class="container">
    
    <div class="row">
        <span class="status available">Available</span>
    </div>
    <div class="row">
        <div class="company">
            <div class="company-logo">                    
                <img src="assets/images/google_logo.svg" alt="" srcset="">
            </div>
            <h2>Google</h2>
        </div>
        <span class="time-remaining">18 days ago</span>
    </div>
    <div class="program-name">
        <h1>Software Engineering Internship</h1>
    </div>
    <p class="program-description">
        This 10-week training program will focus on mastering both front-end and back-end web development skills using modern technologies. Talents will work on real-world projects, collaborate with teams, and learn Agile methodologies.
    </p>
    <div class="program-overview">
        <span class="strong">Program Overview</span>
        <p>Program Duration: January 10, 2024 – March 25, 2024 (10 weeks)</p>
        <p>Application Deadline: 5 Days Left to Apply (January 5, 2024)</p>
    </div>
    <div class="badge-chips">
        <span class="chip">Javascript</span>
        <span class="chip">React</span>
    </div>
    <ul>
        <p class="strong">Learning Outcomes</p>
        <div>
            <li><p>Master Font-end technologies (HTML, CSS, Javascript)</p></li>
            <li><p>Build back-end services with Node.js and Express</p></li>
            <li><p>Collaborate using Git and Agile workflows</p></li>
            <li><p>Develop a fully functional full-stack application</p></li>
        </div>
    </ul>

    
    <ul>
        <p class="strong">Learning Outcomes</p>
        <div class="gaps">
            <div>
                <p>Eligibility Criteria:</p>
                <div>
                    <li><p>Minimum 1 year of experience in software development</p></li>
                    <li><p>Build back-end services with Node.js and Express</p></li>
                    <li><p>Collaborate using Git and Agile workflows</p></li>
                    <li><p>Develop a fully functional full-stack application</p></li>
                </div>
            </div>
    
            <div>
                <p>Profile Requirements:</p>
                <li><p>Ensure your profile is up-to-date with the following</p></li>
                <li><p>CV</p></li>
                <li><p>LinkedIn</p></li>
                <li><p>Portfolio or GitHub link</p></li>
            </div>
        </div>
    </ul>

    
    <ul>
        <p class="strong">Application Process</p>
        <div>
            <li><p>Complete your profile (if needed)</p></li>
            <li><p>Ensure you have earned the required badges</p></li>
            <li><p>Submit your application via the "Apply Now" button below</p></li>
            <li><p>Upload necessary documents (CV, cover letter, portfolio)</p></li>
        </div>
    </ul>
    <button class="btn" routerLink="/home-talent/applications">Apply now</button>
</div>
