@use '../../../../stylesheet/mixins' as *;
@use '../../../../stylesheet/variables' as *;

@include pop-in-animation;

.toast {
  display: flex;
  flex-direction: column;
  gap: .9rem;
  justify-content: center;
  padding: 1.5rem 1.9rem;
  border-radius: 4px;
  margin-top: 0.8rem;

  font-size: 1.4rem;
  height: 7.5rem;
  border-left: 4px solid $error-red;
  border-top-left-radius: .9rem;
  border-bottom-left-radius: .9rem;
  color: $error-text-color;
  opacity: 0;
  transform: translateY(-10px);
  animation: popIn 0.3s ease-out forwards;

  &.error {
    background-color: $error-50;
  }

  &.success {
    background-color: $success-50;
    border-left-color: $success-green;
  }

  &.warn{
    background-color: $warning-100;
    border-left-color: $warning-orange;
  }

  div {
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
  }
}
